body{
 font: 15px/1.5 Roboto, Helvetica, sans-serif;
  padding:0;
  margin: 0;
  background-color: #F5F3F3;
}

/*Global*/

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.button1{
  height: 29px;
  background: #6495ED;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  display: inline-block;
}

/*Header*/

header{
  background: #708090;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #F2680C 3px solid;
}

header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
  font-weight: bold;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight {
  color: #F2680C;
}

header .current a{
  color: #F2680C;
  font-weight: bold;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
  text-decoration: none;
}

/*Showcase*/

#showcase{
  min-height: 300px;
  background: url("http://www.shindiristudio.com/showcase/images/landing/background.jpg");
  text-align: center;
  color: #ffffff;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 21px;
}

/*Newsletter*/

#newsletter{
  padding: 15px;
  color: white;
  background: #708090;
  text-align: center;
}
#newsletter h1{
}

#newsletter form{
  float: center;
  margin-top: 13px;
}

#newsletter input[type="email"]{
  padding: 4px;
  height: 25px;
  width: 250px;
}

/*Boxes*/

#boxes{
  margin-top: 40px;
}

#boxes h1{
  text-align: center;
  margin-bottom: 40px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 25%;
  padding: 10px;
}

#boxes img{
  width: 90px;
}

#boxes .pic1{
  width: 126px;
}

#boxes .pic2{
  width: 125px;
}

/*Portfolio*/

#portfolio h1{
  text-align: center;
}

#portfolio p{
  text-align: center;
}

/*Contact*/

#contact{
 margin-top: 20px;
 min-height: 80px;
 background: #D8D2D2;
}

#contact h3 {
  text-align: center;
}

#contact p{
  text-align: center;
}

#contact #contact_form{
  float: left;
  text-align: center;
  width: 120%;
  padding: 10px;
  position: center;
}


#contact #submit_button{
  padding: 15px;
  width: 200px;
  color: white;
  background: #708090;
  position: center;
}

footer{
  padding: 30px;
  color: white;
  background-color: #3D59AB;
  text-align: center;
}
